form {
  display: grid;
  width: 100%;
}
form .input-label {
  font-weight: 600;
  padding: 2px 0;
  margin-top: 15px;
}
form .input-group {
  position: relative;
  display: grid;
}
form .checkbox-group label {
  font-weight: 400;
}
form .checkbox-group .input-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
form input,
form textarea {
  font-family: "manrope", sans-serif;
  font-size: 1em;
  font-weight: 400 !important;
  color: var(--color-gray-800);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.5;
}
form input[type=checkbox] {
  height: 25px;
  width: 25px;
  margin: 0;
}
form .field-validation-error {
  position: absolute;
  bottom: -25px;
  color: var(--color-danger);
  font-size: 0.9em;
  padding: 2px 0;
}
form .input-validation-error {
  border: 1px solid var(--color-danger);
}
form .btn {
  font-size: 1em;
}
