@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap';
:root {
  --color-gray-000: #FFFFFF;
  --color-gray-100: #F3F6FF;
  --color-gray-200: #EFF2FC;
  --color-gray-300: #E2E5F1;
  --color-gray-400: #D4D7E5;
  --color-gray-500: #B4B7C9;
  --color-gray-600: #9397AD;
  --color-gray-700: #565973;
  --color-gray-800: #33354D;
  --color-gray-900: #0B0F19;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #EFF2FC;
  --color-theme: #6366F1;
  --color-danger: #F5D7DA;
  --color-danger-dark: #e57e88;
  --color-success: #bcf7d2;
  --color-success-dark: #22C55E;
  --color-warning: #ffe8ad;
  --color-info: #cfdefd;
  --font-standard: "Manrope", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "manrope", sans-serif;
  line-height: 1.5;
  color: var(--color-gray-800);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

h1 {
  font-size: 32px;
}
@media (min-width: 992px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 52px;
  }
}

a {
  color: var(--color-theme);
}
a:hover {
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: transparent;
  color: var(--color-gray-900);
  border: none;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  color: var(--color-theme);
}
.btn i {
  margin-right: 8px;
}

.btn-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
}
.btn-theme:hover {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-gray-200);
  color: var(--color-gray-900);
}
.btn-secondary:hover {
  background-color: var(--color-gray-900);
  color: var(--color-white);
}

.btn-menu {
  font-size: 28px;
  padding: 12px 0px;
}

.feature-box {
  padding: 20px;
  transition: all 0.1s ease-in-out;
}
.feature-box:hover {
  background-color: var(--color-white);
}
.feature-box h5 {
  font-size: 20px;
  margin: 0;
}
.feature-box img {
  padding: 20px;
  background-color: var(--color-gray-100);
  margin: 20px;
  border-radius: 8px;
}

form {
  display: grid;
  width: 100%;
}
form .input-label {
  font-weight: 600;
  padding: 2px 0;
  margin-top: 15px;
}
form .input-group {
  position: relative;
  display: grid;
}
form .checkbox-group label {
  font-weight: 400;
}
form .checkbox-group .input-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
form input,
form textarea {
  font-family: "manrope", sans-serif;
  font-size: 1em;
  font-weight: 400 !important;
  color: var(--color-gray-800);
  padding: 15px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.5;
}
form input[type=checkbox] {
  height: 25px;
  width: 25px;
  margin: 0;
}
form .field-validation-error {
  position: absolute;
  bottom: -25px;
  color: var(--color-danger);
  font-size: 0.9em;
  padding: 2px 0;
}
form .input-validation-error {
  border: 1px solid var(--color-danger);
}
form .btn {
  font-size: 1em;
}

textarea,
select,
input:not([type=checkbox]) {
  min-width: 300px;
  font-size: 16px;
  font-family: "manrope";
  font-weight: 400 !important;
  padding: 10px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
}
textarea::placeholder,
select::placeholder,
input:not([type=checkbox])::placeholder {
  opacity: 0.5;
}

.input-search-group {
  position: relative;
}
.input-search-group input {
  position: relative;
  padding-right: 40px;
}
.input-search-group i {
  position: absolute;
  top: 14px;
  right: 1rem;
}

.select {
  position: relative;
  min-width: 300px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M5.5 7l4.5 4.5L14.5 7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}
.select .selected {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  cursor: pointer;
}
.select .select-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-400);
  z-index: 10;
}
.select .select-options .option {
  padding: 10px;
  cursor: pointer;
}
.select .select-options .option:hover {
  background-color: var(--color-gray-400);
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
  margin: 0;
}

form {
  width: 100%;
  display: grid;
  font-size: 16px;
  font-weight: 400 !important;
}
form .input-group {
  display: grid;
}
form .input-group input {
  padding: 16px;
}
form .checkbox-group input[type=checkbox] {
  margin-right: 10px;
}
form .checkbox-group .input-group {
  display: flex;
  align-items: center;
}
form button {
  font-size: 16px;
  font-weight: 400 !important;
  width: 100%;
}
form .field-validation-error {
  font-size: 14px;
  font-weight: 400 !important;
  color: var(--color-danger-dark);
  padding: 2px 5px;
}

.theme-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}
.theme-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-700);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.theme-switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.theme-switch input:checked + .slider {
  background-color: var(--color-theme);
}
.theme-switch input:focus + .slider {
  box-shadow: 0 0 1px var(--color-theme);
}
.theme-switch input:checked + .slider:before {
  transform: translateX(23px);
}
.theme-switch .slider.round {
  border-radius: 34px;
}
.theme-switch .slider.round:before {
  border-radius: 50%;
}

.section-title {
  text-align: center;
}
.section-title p {
  color: var(--color-gray-600);
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
}
@media (min-width: 768px) {
  header .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: "logo switch mobile";
  }
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav switch accounts";
  }
}
header .container .logo {
  grid-area: logo;
}
header .container .nav-menu {
  grid-area: nav;
  display: none;
}
@media (min-width: 1200px) {
  header .container .nav-menu {
    display: flex;
    gap: 20px;
  }
  header .container .nav-menu .nav-link {
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-gray-900);
  }
  header .container .nav-menu .nav-link.active, header .container .nav-menu .nav-link:hover {
    color: var(--color-theme);
  }
}
header .container .theme-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 768px) {
  header .container .theme-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: accounts;
  display: none;
}
@media (min-width: 1200px) {
  header .container .account-buttons {
    display: flex;
    gap: 10px;
  }
  header .container .account-buttons .profile {
    display: flex;
    justify-content: center;
  }
  header .container .account-buttons .profile .image {
    position: relative;
  }
  header .container .account-buttons .profile .image img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border: 1px solid var(--color-gray-400);
  }
}
header .container .btn-menu {
  grid-area: mobile;
}
@media (min-width: 1200px) {
  header .container .btn-menu {
    display: none;
  }
}

.showcase {
  position: relative;
  padding-bottom: 50px;
}
.showcase .container .showcase-image {
  position: absolute;
  width: 400px;
  right: 0;
}
@media (min-width: 992px) {
  .showcase .container .showcase-image {
    width: 550px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .showcase-image {
    width: 650px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .showcase-image {
    width: 750px;
  }
}
.showcase .container .content {
  padding-top: 360px;
  text-align: center;
}
@media (min-width: 768px) {
  .showcase .container .content {
    padding-top: 20px;
    text-align: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .showcase .container .content {
    padding-top: 20px;
    width: 45%;
  }
}
.showcase .container .content .get-started {
  margin: 50px 0;
}
.showcase .container .content .largest-brands {
  position: static;
  width: 100%;
}
@media (min-width: 768px) {
  .showcase .container .content .largest-brands {
    position: relative;
    width: 200%;
  }
}

.features {
  background-color: var(--color-gray-100);
  padding: 50px 0;
}
.features .container {
  text-align: center;
}
.features .container .tool-features {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .features .container .tool-features {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .features .container .tool-features {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features .container .tool-features .feature-box:nth-child(1) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(2) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(3) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(4) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(5) {
  border-bottom: 1px solid var(--color-gray-300);
}
.features .container .tool-features .feature-box:nth-child(6) {
  border-bottom: none;
}
@media (min-width: 768px) {
  .features .container .tool-features .feature-box:nth-child(1) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(2) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(4) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(5) {
    border-bottom: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(6) {
    border-bottom: none;
  }
}
@media (min-width: 1200px) {
  .features .container .tool-features .feature-box:nth-child(1) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(2) {
    border-bottom: 1px solid var(--color-gray-300);
    border-left: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(3) {
    border-bottom: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(4) {
    border-bottom: none;
  }
  .features .container .tool-features .feature-box:nth-child(5) {
    border-bottom: none;
    border-left: 1px solid var(--color-gray-300);
    border-right: 1px solid var(--color-gray-300);
  }
  .features .container .tool-features .feature-box:nth-child(6) {
    border-bottom: none;
  }
}

.signup {
  margin-bottom: 50px;
}
.signup .container {
  width: 95%;
}
@media (min-width: 1200px) {
  .signup .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .signup .container form {
    width: 50%;
  }
}
.signup .container form h1 {
  margin-bottom: 0;
}
.signup .container form .form-content {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "firstname " "lastname" "email" "password" "confirm" "terms" "submit";
}
@media (min-width: 768px) {
  .signup .container form .form-content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstname lastname" "email email" "password password" "confirm confirm" "terms terms" "submit submit";
  }
}
.signup .container form .form-content .input-firstname {
  grid-area: firstname;
}
.signup .container form .form-content .input-lastname {
  grid-area: lastname;
}
.signup .container form .form-content .input-email {
  grid-area: email;
}
.signup .container form .form-content .input-password {
  grid-area: password;
}
.signup .container form .form-content .input-confirm {
  grid-area: confirm;
}
.signup .container form .form-content .checkbox-group {
  grid-area: terms;
  margin-bottom: 30px;
}
.signup .container form .form-content button {
  grid-area: submit;
}

.signin {
  margin-bottom: 50px;
}
.signin .container {
  width: 95%;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .signin .container {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .signin .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .signin .container form {
    width: 50%;
  }
}
.signin .container form h1 {
  margin-bottom: 0;
}
.signin .container form .form-content {
  margin-top: 30px;
  gap: 20px;
}
.signin .container form .form-content .checkbox-group {
  margin-top: 30px;
  margin-bottom: 30px;
}
.signin .container form .form-content button {
  width: 100%;
  grid-area: submit;
}

/*.subscribe {
    background-color: var(--color-gray-100);
    padding: 100rem 0;


    .container {
        width: 55%;


        .title {
            display: flex;
            align-items: center;
            gap: 20px;

            h2 {
                @include h1;
            }
        }*/
/*
        form {

            .alternative {
                margin: 2rem 0;
                display: grid;
                grid-template-columns: 1fr 3fr;

                h4 {
                }

                .options {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            .email {
                display: grid;
                align-items: start;
                grid-template-columns: 1fr auto;
                gap: 1.5rem;

                .input-group {
                    position: relative;

                    i {
                        position: absolute;
                        left: 20px;
                        top: 17px;
                        font-size: 1.3em;
                    }

                    input {
                        padding-left: 55px;
                    }
                }
            }
        }
    }
}
*/
.subscribe {
  background-color: var(--color-gray-100);
  padding: 4rem 0;
}

.subscribe .container {
  width: 55%;
}

.subscribe .container .title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.subscribe .container .title h2 {
  font-size: 2.5em;
}

.subscribe .container form .alternative {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.subscribe .container form .alternative .options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.subscribe .container form .email {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr auto;
  gap: 1.5rem;
}

.subscribe .container form .email .input-group {
  position: relative;
}

.subscribe .container form .email .input-group i {
  position: absolute;
  left: 20px;
  top: 17px;
  font-size: 1.3em;
}

.subscribe .container form .email .input-group input {
  padding-left: 55px;
}

.courses {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.courses .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.courses .container .header .filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.courses .container .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.courses .container .items .course {
  position: relative;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 0 14px -4px var(--color-gray-500);
  color: var(--color-gray-700);
}
.courses .container .items .course:hover {
  box-shadow: 0 0 14px -4px var(--color-gray-900);
}
.courses .container .items .course .bestseller {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--color-success-dark);
  color: var(--color-white);
  padding: 4px 12px;
  border-radius: 4px;
}
.courses .container .items .course .bookmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}
.courses .container .items .course img {
  width: 100%;
}
.courses .container .items .course .content {
  padding: 1rem 2rem;
}
.courses .container .items .course .content .title {
  font-size: 20px;
}
.courses .container .items .course .content .author {
  font-size: 14px;
  margin: 0.5rem 0;
}
.courses .container .items .course .content .pricing {
  display: flex;
  gap: 1rem;
  font-size: 18px;
  font-weight: 600;
}
.courses .container .items .course .content .pricing .discount {
  color: var(--color-danger-dark);
  font-size: 18px;
  font-weight: 600;
}
.courses .container .items .course .content .pricing .original {
  color: var(--color-theme);
  font-size: 18px;
  font-weight: 600;
}
.courses .container .items .course .content .pricing .discount-enabled {
  color: var(--color-gray-600);
  text-decoration: line-through;
  font-size: 18px;
  font-weight: 400;
}
.courses .container .items .course .content .footer {
  color: var(--color-gray-600);
  border-top: 1px solid var(--color-gray-400);
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  padding-top: 1rem;
}
.courses .container .items .course .content .footer .hours i {
  margin-right: 5px;
}
.courses .container .items .course .content .footer .likes i {
  margin-right: 5px;
}

.account-profile .profile {
  display: flex;
  justify-content: center;
}
.account-profile .profile .image {
  position: relative;
}
.account-profile .profile .image img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
  border: 1px solid var(--color-gray-400);
}
.account-profile .profile .image form {
  position: relative;
}
.account-profile .profile .image form label {
  position: absolute;
  bottom: 10px;
  right: 0;
}
.account-profile .info {
  margin-top: 0.5rem;
  text-align: center;
}
.account-profile .info .displayname {
  font-size: 1.3em;
}
.account-profile .info .email {
  font-size: 0.8em;
}

.account {
  height: 100%;
  padding: 2rem 0;
}
.account .container {
  height: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
}
.account .container aside {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  border-right: 1px solid var(--color-gray-400);
}
.account .container aside .account-nav {
  margin-top: 2rem;
}
.account .container aside .account-nav .btn {
  margin-bottom: 10px;
  font-size: 16px;
}
.account .container main {
  padding: 1rem 2rem;
}
