@{
    ViewData["Title"] = "Our Courses";
}
<section class="courses">
    <div class="container">
        <div class="header">
            <h1>Courses</h1>
            <form class="filters">
                <select>
                    <option>All Categories</option>
                </select>
                <div class="input-search-group">
                    <input id="searchQuery" name="searchQuery" placeholder="Search courses"/>
                    <i class="fa-regular fa-search"></i>
                </div>
            </form>
        </div>
    </div>
</section>